/* My fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
	--lght-clr: #fff;
	--drk-clr: rgb(6, 18, 34);
	--lght-purp: rgb(136, 105, 248);
	--drk-purp: rgb(29, 12, 70);
	--ex-clr: #e3c1bf;
	--ex2-clr: #4a4860;
	--PreDevs: rgb(0, 115, 255);
}

.PreDevs {
	color: var(--PreDevs);
}

/* Universal  */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: var(--drk-clr);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	color: var(--lght-purp);
}

/* Navigation and Header  */

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1rem 0.7rem;
	color: var(--lght-clr);
	z-index: 2;
	width: 100wv;
}

header h1 {
	display: none;
}

header nav {
	/* flex-wrap: nowrap; */
	width: 90%;
	/* text-align: center; */
	/* align-self: center; */
	/* min-width: 100%; */
}

ul {
	list-style: none;
}

header ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

header ul li {
	font-size: 1rem;
	display: inline-block;
	margin: 0 0.5rem;
}

header ul li:hover {
	border-bottom: 1px var(--lght-clr) solid;
}

a {
	text-decoration: none;
	color: var(--lght-clr);
}

main {
	width: 100%;
	/* height: 100%; */
}

/* Hero Section  */

.hero {
	background-image: url(../images/mountain.jpg);
	background-size: cover;
	background-position: 25%;
	background-repeat: no-repeat;
	margin-top: -75px;
	height: 75vh;
	width: 100%;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 2.4rem;
	gap: 1rem;
}

.hero-title {
	margin-top: 1rem;
	font-size: 2.7rem;
	margin-top: -8rem;
	color: var(--drk-purp);
	transition: all 2s ease;
}

.hero-title:hover {
	color: rgb(55, 0, 156);
}

.hero-title-sub {
	font-size: 1.3rem;
}

/* About Me Section  */

#about {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3.5rem 3rem 0rem 3rem;
	text-align: center;
	height: 85vh;
	gap: 2rem;
	margin-bottom: 3rem;
}

#about h2 {
	margin-top: 1rem;
	padding-bottom: 2rem;
}

.tab {
	margin-left: 30px;
}

#about p {
	color: var(--ex-clr);
	padding-bottom: 0.5rem;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border: 1px solid var(--lght-clr);
	position: relative;
	transition: all 300ms ease-in-out;
	z-index: 2;
	margin-top: 1rem;
}

.box::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px dashed var(--lght-clr);
	transform: translate(21px, 21px);
	z-index: -1;
	transition: all 300ms ease-in-out;
}

.box::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px dashed var(--lght-clr);
	transform: translate(-21px, -21px);
	z-index: -1;
	transition: all 300ms ease-in-out;
}

#about img {
	width: 100%;
	height: 100%;
	transition: all 300ms ease-in-out;
	filter: grayscale(65%);
}

#about img:hover {
	filter: grayscale(0%);
}

.box:hover::before,
.box:hover::after {
	box-shadow: inset 0px 0px 10px rgb(255, 117, 237),
		0px 0px 14px rgb(121, 106, 255);
}
.box.box:hover::before {
	transform: translate(-16px, -16px);
}
.box:hover::after {
	transform: translate(16px, 16px);
}

/* Projects Grid/flex  */

#project {
	background-image: linear-gradient(var(--drk-clr) 5%, rgb(8, 3, 17) 95%);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 1rem 4rem 1rem;
	margin: 2rem 0 0 0;
}

#project h2 {
	margin: 0.5rem 0 2rem 0;
}

.project-box h4 {
	color: var(--lght-clr);
}

#project p {
	color: var(--ex-clr);
	margin-bottom: 2rem;
}

.project-showcase {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.project-box {
	/* background: rgb(0, 0, 0);
	background: linear-gradient(
		25deg,
		rgba(0, 0, 0, 1) 2%,
		rgb(92, 81, 255) 65%,
		rgb(105, 0, 241) 100%
	); */
	border: 1px solid var(--lght-purp);
	border-radius: 10px;
	width: 230px;
	height: 320px;
	margin: 0.8rem 0.3rem;
	transition: all 500ms ease-in;
	position: relative;
	overflow: hidden;
}

.project-box:hover {
	box-shadow: 0px 0px 15px rgb(76, 118, 255);
}

.project-box:hover,
.project-box:hover p {
	visibility: visible;
	opacity: 1;
	height: 440px;
	filter: grayscale(0%);
	justify-content: center;
}

.project-box:hover img {
	filter: grayscale(0%) contrast(118%);
}

.project-box-top {
	width: 100%;
	/* height: 100%; */
}

.project-box img {
	filter: contrast(100%);
	filter: grayscale(100%);
	width: 100%;
	height: 240px;
	transition: all 300ms ease;
}

.project-box-bottom {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	padding: 0.7rem;
}

.project-box h3 {
	color: var(--lght-clr);
}

.project-box p {
	visibility: hidden;
	opacity: 0;
	font-size: 0.8rem;
	margin-top: 1rem;
	transition: all 600ms ease-in;
}

/* Ability Section  */

#abilities {
	background-image: linear-gradient(to bottom, #080311, #271b29);
	height: 64vh;
	text-align: center;
	padding: 4.3rem 1rem;
}

#abilities h2 {
	padding-top: 3rem;
}

#abilities p {
	color: var(--ex-clr);
	margin: 2rem 0;
}

#abilities ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#abilities ul li {
	font-size: 1rem;
	/* background-color: var(--drk-purp); */
	border: 1px solid var(--lght-purp);
	border-radius: 10px;
	padding: 1rem;
	margin: 0.5rem;
	color: var(--lght-purp);
	transition: all 300ms ease;
	cursor: default;
}

#abilities ul li:hover {
	/* font-size: 1.3rem; */
	/* padding: 1.1rem; */
	color: var(--lght-clr);
	box-shadow: inset 0px 0px 8px var(--lght-purp), 0px 0px 15px var(--lght-purp);
}

/* My Contact Section  */

#contact {
	width: 100%;
	height: 100vh;
	background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
	background-size: cover;
	background-position: 51%;
	background-repeat: no-repeat;
	padding: 7.3rem 1rem 1rem 1rem;
	text-align: center;
}

#contact h2 {
	margin-bottom: 2rem;
}

.touch {
	color: var(--lght-clr);
}

#contact ul {
	display: flex;
	justify-content: center;
	margin-top: 13rem;
	padding: 2rem;
}

i {
	color: var(--drk-clr);
	font-size: 2.8rem;
	margin: 0 0.8rem;
	transition: all 100ms ease-in;
}

i:hover {
	color: var(--ex-clr);
	animation: rotate 1000ms;
	cursor: pointer;
}

footer {
	min-height: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* text-align: start; */
	/* align-items: flex-start; */
	background-image: linear-gradient(to bottom, #121d31, #090e18);
	padding: 2.6rem 1rem 5rem 1rem;
}

footer a:hover {
	color: var(--ex-clr);
	border-bottom: 1px solid var(--ex-clr);
}

.sec1 a {
	margin: 0.8rem 0;
	font-weight: bold;
	font-size: 1.2rem;
	color: rgb(56, 165, 255);
}

.sec1 a:hover {
	color: rgb(162, 213, 255);
}

.sec2 h3 {
	margin: 0.8rem 0.3rem;
	font-size: 1rem;
}

.sec2 li {
	font-size: 0.8rem;
	margin: 0.5rem 0;
}

/* Media Queries */

/* Tablet Devices */

@media only screen and (min-width: 550px) {
	h2 {
		font-size: 2rem;
	}
	p {
		font-size: 1.2rem;
	}

	/* Navigation Bar  Tablet */

	header {
		align-items: center;
		justify-content: space-between;
		text-align: center;
	}

	header h1 {
		display: block;
		margin-left: 2.3rem;
	}
	header nav {
		max-width: 350px;
	}

	header ul {
		width: 100%;
	}

	header ul li {
		margin: 0 1rem;
		font-size: 1.3rem;
	}

	/* Hero Section Tablet  */

	.hero {
		margin-top: -80px;
	}
	.hero-title {
		font-size: 4rem;
	}
	.hero-title-sub {
		font-size: 2rem;
	}

	/* About Me Section Tablet  */

	#about {
		height: 65vh;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 3rem 1rem 0 1rem;
		justify-content: space-evenly;
		align-items: center;
		gap: 0;
		margin-bottom: 5rem;
	}
	#about h2 {
		width: 100%;
		/* margin-top: ; */
		padding: 0;
	}
	#about p {
		width: 38%;
		padding: 1rem;
	}
	.box {
		width: 250px;
		height: 250px;
	}

	/* My Project Section Tablet  */

	#project {
		padding: 0 2rem;
		margin: 0;
		gap: 4rem;
	}
	#project h2 {
		width: 100%;
		margin: 0;
	}
	.project-showcase > .project-box > h2 {
		color: var(--drk-purp);
	}
	.project-showcase {
		display: grid;
		grid-template-columns: repeat(2, 250px);
		grid-template-rows: minmax(150px, auto);
		justify-content: center;
		align-items: center;
		grid-gap: 1rem;
	}
	.project-box {
		margin: 0;
		padding: 0;
		grid-column: span 1;
		width: 250px;
		height: 405px;
	}
	.project-showcase > .project-cover {
		display: flex;
		grid-column: span 2;
		width: 100%;
		height: calc(405px - 160px);
	}
	.project-showcase > .project-cover:hover {
		height: calc(405px - 160px);
		justify-content: center;
	}
	.project-cover .project-box-top {
		width: 100%;
		height: 100%;
	}
	.project-cover .project-box-bottom {
		padding: 1rem 0;
		width: 100%;
	}
	.project-cover img {
		align-self: center;
		height: 100%;
		width: 100%;
		/* filter: grayscale(0%) contrast(140%); */
	}
	.project-box p {
		visibility: visible;
		opacity: 1;
		margin: 0;
		/* padding: 1rem; */
	}
	.project-box:hover,
	.project-box:hover p {
		visibility: visible;
		opacity: 1;
		margin: 0;
		padding: 0;
		height: 405px;
	}
	/* .project-box h3 {
		color: var(--drk-clr);
	} */

	/* Abilities Section Tablet  */

	#abilities {
		height: 70;
		padding: 5rem 1rem;
	}
	#abilities p {
		margin-bottom: 0.5rem;
	}
	#abilities ul {
		padding: 1.5rem 5rem 0 5rem;
	}
	#abilities ul li {
		font-size: 1.2rem;
		padding: 1.2rem;
	}

	/* Contact Section For Tablet  */

	#contact h2 {
		margin-top: 1.5rem;
	}
	#contact i {
		font-size: 4rem;
		margin: 0 2.2rem;
	}

	/* Footer Section Tablet  */

	.sec1 a {
		font-size: 1.5rem;
	}
	.sec2 h3 {
		font-size: 1.3rem;
	}
	footer a {
		font-size: 1rem;
	}
}

/* Desktop Version  */

@media only screen and (min-width: 1020px) {
	h2 {
		font-size: 2.5rem;
	}
	p {
		font-size: 1.5rem;
	}

	.hero {
		background-position: 50% 12%;
	}
	.hero-title {
		margin-top: 0.1rem;
		font-size: 5.2rem;
	}
	.hero-title-sub {
		font-size: 2.5rem;
	}

	/* About Me Section Desktop  */

	#about {
		height: 85vh;
		padding-bottom: 3rem;
	}
	#about h2 {
		margin: 0;
	}
	/* Making my picture bigger  */
	.box {
		width: 300px;
		height: 300px;
		margin: 0;
	}
	.box::after {
		transform: translate(30px, 30px);
	}
	.box::before {
		transform: translate(-30px, -30px);
	}
	.box.box:hover::before {
		transform: translate(-20px, -20px);
	}
	.box:hover::after {
		transform: translate(20px, 20px);
	}

	/* Project Section for Desktop  */

	#project {
		margin-top: 8rem;
	}
	.project-showcase {
		grid-template-columns: repeat(2, 320px);
		grid-template-rows: minmax(200px, auto);
		gap: 2rem;
	}
	.project-box {
		width: 320px;
		height: 425px;
		grid-column: span 1;
	}
	.project-showcase:hover > .project-box {
		height: 425px;
	}
	.project-showcase > .project-cover {
		grid-column: 1 /-1;
		width: 100%;
		height: 320px;
		text-align: center;
	}
	.project-showcase:hover > .project-cover {
		height: 320px;
	}
	.project-cover p {
		margin-top: 5rem;
	}
	.project-cover:hover p {
		margin-top: 5rem;
	}
	.project-box-bottom > p {
		padding: 0.3rem 0.5rem;
		font-size: 0.9rem;
	}
	.project-box:hover .project-box-bottom > p {
		padding: 0.3rem 0.5rem;
		font-size: 0.9rem;
	}

	/* Abilities Section Desktop  */

	#abilities {
		height: 80vh;
		padding: 7.2rem 3rem;
	}
	#abilities p {
		margin-bottom: 3.2rem;
	}
	#abilities ul li {
		font-size: 1.5rem;
		padding: 1.2rem 1.7rem;
		margin: 1.2rem;
	}

	/* Contact Section Desktop  */

	#contact {
		padding: 3rem;
		background-position: 55% 45%;
	}

	#contact i {
		font-size: 5rem;
		margin: 0 4rem;
	}

	/* Footer Section Desktop  */

	footer {
		height: 32vh;
		padding: 1rem;
	}
	.sec1 a {
		font-size: 1.7rem;
	}
	.sec2 h3 {
		font-size: 1.5rem;
	}
	footer a {
		font-size: 1.2rem;
	}
}

/* keyframe Animations  */

/* I did not use bounce  */

@keyframes bounce {
	0% {
		margin-top: 0px;
	}
	25% {
		margin-top: -5px;
	}
	50% {
		margin-top: -13px;
	}
	75% {
		margin-top: -6px;
	}
	100% {
		margin-top: 0px;
	}
}

/* For the Icons in Contact Me section  */

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
